/* -----------------------------------GLOBALI----------------------------------- */

:root {
  --primary-color: #7c69a4;
  --secondary-color: #ff9613;
  --background-body: #f6f5f3;
  --font-primary: "Montserrat", "Helvetica Neue", sans-serif;
  --font-secondary: "Nerko One", cursive;
}

/* ----------------------------------- DEBUG -----------------------------------*/

.db-color1 {
  background-color: green;
}

.db-color2 {
  background-color: yellow;
}

.db-color3 {
  background-color: blue;
}

/* ----------------------------------- HEADER -----------------------------------*/

header {
  background-image: url("../assets/img/wall.png");
  min-height: 100px;
}

main {
  min-height: 80vh;
  background-image: url("../assets/img/cork.png");
}

/* ----------------------------------- CARD -----------------------------------*/

#pin {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
}

/* Transition Card */
.card {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Card over - Ingrandimento e rotazione */
.card:hover {
  transform: scale(1.1) rotate(-2deg);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
  z-index: 10;
}

/* ----------------------------------- OVERLAY -----------------------------------*/

/* Stile overlay */
#overlay {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

/* Icona chiusura */
.fa-solid {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Animazione tasto chiusura */
.fa-solid:hover {
  transform: scale(1.5) rotate(-10deg);
}

/* Gestione responsive immagine */
#overlay img {
  width: 100%;
  height: auto;
  max-width: 90vw;
  max-height: 80vh;
  object-fit: contain; /*Lo adatto al contenitore*/
}

.no-scroll {
  overflow: hidden;
}
